body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav, footer{
  background-color: #6a1b9a !important ;
}
.bold{
  font-weight: 500;
}
.btn{
  background-color: #7b1fa2;
  color: white;
}
.btn:hover{
  background-color: #6a1b9a;
}
.btn:active{
  background-color: #6a1b9a;
}
main {
  flex: 1 0 auto;
  min-height: 500px;
  margin-top: 20px;
  margin-bottom: 100px;

}

#main-loader {
  /* Looks cuter when its smaller */
  transform: scale(0.68);
  /* background: #f0e8f7; */

  height: 250px;
  width: 250px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.288);  */
  z-index: 100000;

}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.header {
  margin-top: 30px;
}

.upload_btn {
  margin-top: 14px;
}
.modal.bottom-sheet {
  max-height: 60% !important;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.1), 0 7px 7px rgba(0, 0, 0, 0.08) !important;
}
#document_table{
  margin-bottom: 50px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  z-index: 5555;
}

.required {
  color: red;
  margin-left: 2.5px;
  font-size: 18px;
  font-weight: 500;
}




.hex {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 85px;
  height: 90px;
  background: #ac6eec;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(90deg);
  animation: rotateHex 1s infinite;
  border-radius: 6%;
  opacity: 0.8;
}
.para1 {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  top: -9rem;
  left: -1.5rem;
  transform: rotate(63.5deg);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: #c297ee;
  border-radius: 10%;
  animation: rotatePara1 2s infinite;
  opacity: 0.9;
}
.para2 {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  top: 5.9rem;
  left: -6.7rem;
  transform: rotate(-56deg);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: #c297ee;
  animation: rotatePara2 2s infinite;
  border-radius: 10%;
  opacity: 0.9;
}
.para3 {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  top: 5.9rem;
  left: -6.7rem;
  transform: rotate(-56deg);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: #c297ee;
  animation: rotatePara3 2s infinite;
  border-radius: 10%;
  opacity: 0.9;
}
@keyframes rotatePara1 {
  0% {
    top: -9rem;
    left: -1.5rem;
    transform: rotate(63.5deg);
  }
  50% {
    top: -5.9rem;
    left: 6.9rem;
    transform: rotate(-55deg);
  }
  100% {
    top: 2.86rem;
    left: 8.45rem;
    transform: rotate(-180deg);
  }
}
@keyframes rotatePara2 {
  0% {
    top: 2.86rem;
    left: 8.45rem;
    transform: rotate(180deg);
  }
  50% {
    top: 9rem;
    left: 1.7rem;
    transform: rotate(63.5deg);
  }
  100% {
    top: 5.9rem;
    left: -6.7rem;
    transform: rotate(-56deg);
  }
}
@keyframes rotatePara3 {
  0% {
    top: 5.9rem;
    left: -6.7rem;
    transform: rotate(-56deg);
  }
  50% {
    top: -2.9rem;
    left: -8.3rem;
    transform: rotate(-180deg);
  }
  100% {
    top: -9rem;
    left: -1.5rem;
    transform: rotate(-296deg);
  }
}
@keyframes rotateHex {
  0% {
    transform: rotate(90deg) scale(1);
  }
  50% {
    transform: rotate(270deg) scale(0.9);
  }
  100% {
    transform: rotate(270deg) scale(1);
  }
}
