<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
	{% block title %}
    {% endblock title %}
    {% block style %}
    {% endblock style %}
</head>

<body>

{% include "components/navbar.html" %}

{% block container %}
{% endblock container %}

{% include "components/footer.html" %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='/js/abi.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>