<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
	{% block title %}
	{% endblock title %}
	{% block style %}
	{% endblock style %}
</head>

<body>
	<div id = "main_useraddress" uaddress = "{{user_address}}"></div>
	<div id="main-loader">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>


	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}

	{% block container %}
	
	{% endblock container %}

	{% include "components/footer.html" %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7/web3.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/abi.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>

	{% block javascript %}
	<script>
	</script>
	{% endblock javascript %}
</body>

</html>