{% extends "base.html" %}

{% block style %}
<link href = "{{ url_for('static', filename='css/dropzone.min.css') }}">
{% endblock style %}

{% block container %}
	{% include "components/navbar_dash.html" %}
	<main id = "main_id" user_address = "{{user_address}}">
		<div class = "container">
		<p id = "account-address">{{user_address}}</p>

			<button class = "btn btn-primary" type="submit">
			<a href = "/dashboard/upload/doc">Upload document</a></button>

		<p id = "funds"></p>
		</div>
	</main>

{% endblock container %}

{% block javascript %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

{% endblock javascript %}
