{% extends "base.html" %}
{% block style %}
{% endblock style %}
{% block container %}
{% include "components/navbar.html" %}

<main>
    <div id="_reqaddress" hidden>{{requester_address}}</div>
    <div id="_owneraddress" hidden>{{owner_address}}</div>
    <div id="_docid" hidden>{{doc_id}}</div>

    <div class="container">
        <div class="row">
            <form class="col s12" id="registration" address="{{user_address}}">

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>

                        <input id="master_key" type="password" class="validate">
                        
                        <label for="master_key">Master Key</label>
                    </div>
                </div>

                <center><a class="btn waves-effect waves-light" type="submit" name="action">Approve Read Request</a>
                </center>

            </form>
        </div>
    </div>
</main>


{% endblock container %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/doc_aprooval.js') }}">
    $("#main-loader").hide();
</script>
{% endblock javascript %}