{% extends "base.html" %}

{% block container %}
{% include "components/navbar.html" %}

<main>
    <div class="container">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header">Register as Resident
                <i class="material-icons">accessibility</i>
                </div>
                <div class="collapsible-body">
                    <form class="col s12" id="resident_registration" address="{{user_address}}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input required="" aria-required="true" placeholder="First Name" id="first_name" type="text" class="validate">
                                <label for="first_name">First Name<span class="required">*</span></label>
                            </div>
                            <div class="input-field col s6">
                                <input required="" aria-required="true" id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name<span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input required="" aria-required="true" id="email" type="email" class="validate" placeholder="Enter your email">
                                <label for="email">Email<span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input required="" aria-required="true" id="confirm_email" type="email" class="validate"
                                    placeholder="Re enter your email">
                                <label for="email">Confirm Email<span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input required="" aria-required="true" id="master_key" type="password" class="validate">
                                <label for="master_key">Master Key<span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input required="" aria-required="true" id="master_key_confirm" type="password" class="validate">
                                <label for="master_key_confirm">Confirm Master Key<span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="contact_no" type="text" class="validate">
                                <label for="contact_no">Contact Number</label>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Register
                        </button>

                    </form>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Register as Organization/Institution <i class="material-icons">account_balance</i></div>

                <div class="collapsible-body" id = "req_form_collaps">
                    <form class="col s12" id="requestor_registration" address="{{user_address}}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input required="" aria-required="true" placeholder="Organization name" id="org_name" type="text" class="validate">
                                <label for="Organization_name">Name of your Organization/Institution <span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input required="" aria-required="true" placeholder="Please enter the master code of the organization." id="master_code" type="text" class="validate">
                                <label for="master_code">Master Code for registration <span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="org_email" type="email" class="validate"
                                    placeholder="Enter your organization email" required="" aria-required="true">
                                <label for="email">Organization email <span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="confirm_org_email" type="email" class="validate"
                                    placeholder="Re enter your organization email" required="" aria-required="true">
                                <label for="email">Confirm Email<span class="required">*</span></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="org_contact_no" type="text" class="validate">
                                <label for="org_contact_no">Contact Number</label>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Register
                        </button>

                    </form>
                </div>
            </li>
        </ul>

    </div>
</main>

{% endblock container %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/registration.js') }}"></script>

{% endblock javascript %}