{% extends "base.html" %}

{% block style %}
{% endblock style %}

{% block container %}
{% include "components/navbar.html" %}

<div id="_useraddress" hidden>{{uid}}</div>
<main>
<div class="container">
    <div class="row header">
        <div class="float-left">
            <p>User Address: <strong id="uid"></strong></p>
        </div>

        <div class="float-right upload_btn">
            <a class="waves-effect waves-light btn modal-trigger" href="#requestDoc">
                Search Document
            </a>
        </div>

    </div>
</div>

<div class="container">
    <table id="document_table">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</main>
        
<div id="shareDocModel" class="modal">
	<div class="modal-content">
		<h5 class="doc_name_modal"></h5>
		<br>
		<div class="container">
            <form id="shareThisDoc">
                <div class="input-field">
                    <p><strong>
                        On click of Raise Request button, read request for the document is notified to owner of document. You will get notification by an email once owner approves your request.</strong></p>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="submit" class="btn float-right modal-close waves-effect waves-green btn-flat">Raise Request</br>
                    </button>
                </div>
                <br>
            </form>
		</div>
	</div>
</div>

{% include "components/modal_searchdoc.html" %}

{% endblock container %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/search_by_user.js') }}"></script>

{% endblock javascript %}