<div id="shareDocModel" class="modal">
	<div class="modal-content">
		<h5 class="doc_name_modal"></h5>
		<br>
		<div class="container">
			<form id="shareThisDoc">
				<div class="input-field">
					<input placeholder="Enter email of user you want to share document with" id="share_email_"
						type="email" name="email" class="validate">
					<label for="share_email_">Share with</label>
				</div>

				<div class="input-field">
					<input placeholder="Enter your master key" id="share_mkey_" type="password" name="password"
						class="validate">
					<label for="share_pass_">Master key</label>
				</div>

				<br>
				<div class="modal-footer">
					<button type="submit" class="btn float-right">Share</br>
				</div>
				<br>

			</form>
		</div>
	</div>
</div>