<header class="mdc-top-app-bar">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"> DigiLocker</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user_address %}
                    <li id = "dash_btn"><a href="/dashboard">Dashboard<i class="material-icons right">dashboard</i></a></li>
                    <li id="logout-btn" btn-for = "logout"><a class="waves-effect waves-light btn" href = "#">Logout</a></li>
                {% else %}
                    <li id="auth-btn" btn-for = "login"><a class="waves-effect waves-light btn" href = "">Login</a></li>
                
                {% endif %}
                </ul>
        </div>
    </nav>

</header>