<header class="mdc-top-app-bar">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"> DigiLocker</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li id="logout-btn" btn-for = "logout"><a class="waves-effect waves-light btn" href = "#">Logout</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="mobile.html">Mobile</a></li>
    </ul>
</header>